@import url('https://fonts.googleapis.com/css?family=Lato');


body{background-color: #fff;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
        
       }

#body{
    opacity: 0;
    transition: 1.5s;
    display: none;   
    width: 100vw;
}

div{
    
    padding: 0;
    margin: 0;
}

.container-fluid{
    margin-bottom: 0 !important;
    
}

#mySidenav a:active{
    transition-delay: 0.2s;
    color:red !important;
    border-left: 2px solid red;
    margin-left: 10px;
    
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 21;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 21px;
    color: #818181;
    display: block;
    transition: 0.3s;
    
    
    
}

#mySidenav{
    position: fixed;
    z-index: 999;
}

.bar{
    height:4px;
    width: 30px;
    display: block;
    background-color: #1dba9b;
    margin: 5px;
    
  
}

#menu-btn{
    height:auto;
    cursor: pointer;
}

#menu-btn:hover #bar2{
    margin-left:1px;
    transition-duration:0.3s;
}

#menu-btn:hover #bar1{
    margin-left:12px;
    transition-duration:0.3s;
}


#notification{
    color:#1dba9b;
    transition: 0.3s;
    position: fixed;
    z-index: 20;
}

#notification:hover{
    transform: rotateZ(25deg);
}
#notif{
    height: 300px;
    width: 250px;
    transition: 0.2s:important;
    z-index: 2;
    position: fixed;
    top:20px;
    right: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0px rgba(0,0,0,0.1);
}

#menu-item p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 21px;
    color: #818181;
    display: block;
    transition: 0.3s;  
    cursor: pointer;
    
}

#menu-item p:hover {
    color: #f1f1f1;
}

#menu-item p:focus {
    transition-delay: 0.2s;
            color:red;
    border-left: 2px solid red;
    margin-left: 10px;
    
    }
.item1{
    height:46px;
    overflow-y: hidden;
    -webkit-transition: height 2s ;
    transition: height 2s !important;
    transition-timing-function: ease-in-out !important;
    
}

.item1:hover{
    height:auto;
    overflow-y: hidden;
    -webkit-transition: height 2s !important;
    transition: height 2s !important;
    transition-timing-function: ease-in-out !important;
    
}

.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav a:focus{
    transition-delay: 0.2s;
            color:red;
    border-left: 2px solid red;
    margin-left: 10px;
    outline: 1px solid black;
    
        }
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.logo{
    width:200px;
    height:90px;
    display: inline-block;
    margin-top: 0 !important;
    left:50vw;
    margin-left: -105px;
    background-color: transparent;
     border-bottom: 2px solid #1dba9b;
   
    border-radius:35px ;
    text-align: center;
   
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    
                  
    position: absolute;
    padding:0;   
    
    
        
    transition-timing-function: ease-in-out;
            
}
        
        
.logo>a>img{
            
            width:auto;
            height:80px;
            display: inline-block;
            
}

.logo a{
    font-size:35px;
    font-weight:bolder;
    display: inline-block;
    color: #222;
}


#navbar{
        width: 100vw;
        height:70px;
         
        padding: 0;
        position: fixed;
        top:0;
        z-index:100;
        padding-top:5px;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        
        padding-left: 0px;
        
        
        
}
        
#menu-items{
        margin-top:10vh !important;
    }


        

i{
        padding-top: 5px !important;
        padding-bottom: none !important;
        margin:0px !important;
        cursor:pointer;
        margin-right:2px !important;
}
        





        
input{
        margin-top: 0 !important;
        padding-left:5px;
}
    
input:focus{
        outline: none;
}


        
        
        
input::-webkit-input-placeholder {
        color: lightgrey!important;
        font-weight: 100;
        font-family: roboto;
        text-align: center;
}
 
input:-moz-placeholder { /* Firefox 18- */
        color: lightgrey!important;
        font-weight: 100;
        font-family: roboto;
        text-align: center;
        }
 
input::-moz-placeholder {  /* Firefox 19+ */
            color: lightgrey!important;
            font-weight: 100;
            font-family: roboto;
            text-align: center;
}
 
input:-ms-input-placeholder {  
            color: lightgrey!important;
            font-weight: 100;
            font-family: serif;
            text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 2px;
    position: absolute;
    margin-right: 5px !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: orange;
    opacity: 0.5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}



.submenu-list{
    margin-left: 40px;
    border-left:1px solid grey;
    height:0;
    overflow-y:hidden;    
    transition: 0.5s;
    background-color: #161616;
   
}

.submenu-list a{
    font-size:16px;
}


#workshops-submenu{
    overflow-y: auto;
    height: 0px;
}
        
.btn{
        float:right;
        margin-right: 10px;
        margin-top: 15px;
        width: 100px;
        text-align: center;
        margin-left: 0;
        background-color: transparent;
        border: 1px solid black;
        color:black;
        font-weight:600;
}
        
.btn:hover{
        background-color: #17c8e5;
        color:black;
        border-color:#17c8e5;
    
}

#background{
        
      
        top:100vh; 
        position: absolute;
    
        left:0;
        width: 100%;
        height:auto;
     background-color: #fafafa;
    transition:0.5s;
    
       
}






#banner{
    width: 100%;   
    overflow: hidden;
    transition: 1s;
    height:100vh;
    position: fixed;
    
    
    
}



#above-fold{
    
    
    vertical-align: bottom;
    width: 100vw; 
    transition: 1s;
    transition-timing-function: ease-in-out;
    
}

#section1{
    background-color: white;
    height:100vh;
    
    
    
    
    z-index:1;
    box-shadow: 0 0 7px 1px rgba(0,0,0,0.5);
    
}








@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
    
}
        
 @media screen and (max-width:960px){
     
     .store-card{
         width: 70vw;
         margin-left:15vw;
         padding: 0 !important;
        
         
     }
            
    .logo{
        width:100px !important;
        height:60px !important;
        display: inline-block;
        margin-top: 0 !important;
        left:50vw;
        margin-left: -50px !important;
        box-shadow: none;
        border-bottom: none !important;                    
        position: absolute;
        padding: 0 20px !important;   
        transition-delay: 2s;
        transition: 1s;
       
        
    transition-timing-function: ease-in-out;
            
            
    }
        
        
    .logo>a>img{
            
        width:auto !important;
        height:50px;
        display: inline-block;          
        
    }
            
    #search-option{
        display: inline-block;
        float:right;
        height:70px;
        vertical-align: middle;
        padding-top: 15px;
        margin: 0;
        margin-right: 1vw;
            
    }
    
     .search{
            display: inline-block;
            height:40px;
            border:0;
            
            border: none;
            border-radius:10px;
            padding-left:2px;
            
            
     }
        
     
     i{
            padding-top: 5px !important;
            padding-bottom: none !important;
            margin:0px !important;
            cursor:pointer;
            margin-right:2px !important;
            height: 45px !important;
            width:30px;
        }
        
     
     .search-input{
            border: 0;
            height:25px;
            width:0px;
            
            border-bottom-left-radius: 5px;
            margin-top: 0px;
            
        }
        }


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
    
    
       
    
}

@media screen and (max-width:960px){
            
            .logo{
            width:200px;
            height:68px;
            display: inline-block;
            margin-top: 0 !important;
            left:50vw;
            margin-left: -100px;
            box-shadow: none;
                border-bottom: none;
            
                     
            position: absolute;
            padding: 5px 70px 5px 70px;
            
            
            
            
        }
    
    #T18{
        height:180vh;
    }
    
    #Glimpses{
        top:80vh;
    }
    
     
        
        .logo>a>img{
            
            width:60px;
            height:60px;
            display: inline-block;          
            
        }
            
            #search-option{
            display: inline-block;
            float:right;
            height:70px;
            vertical-align: middle;
            padding-top: 15px;
            margin: 0;
            margin-right: 3vw;
                
        }
        .search{
            display: inline-block;
            height:40px;
            border:0;
            
            border: none;
            border-radius:10px;
            padding-left:2px;
            
            
        }
        
        i{
            padding-top: 5px !important;
            padding-bottom: none !important;
            margin:0px !important;
            cursor:pointer;
            margin-right:2px !important;
            height: 45px !important;
            width:30px;
        }
        
        .search-input{
            border: 0;
            height:25px;
            width:0px;
            
            border-bottom-left-radius: 5px;
            margin-top: 0px;
            
        }
        }




======================================

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}